In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df = pd.read_csv('spam.csv', encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
new_df=df.iloc[:,:-3]
new_df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
new_df.v1.value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [6]:
legit=new_df[new_df['v1']=='ham']
spam=new_df[new_df['v1']=='spam']

In [7]:
legit

       v1                                                 v2
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...
6     ham  Even my brother is not like to speak with me. ...
...   ...                                                ...
5565  ham                                       Huh y lei...
5568  ham              Will Ì_ b going to esplanade fr home?
5569  ham  Pity, * was in mood for that. So...any other s...
5570  ham  The guy did some bitching but I acted like i'd...
5571  ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [8]:
spam

        v1                                                 v2
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
...    ...                                                ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [9]:
legit_sample=legit.sample(n=747)
merged_df=pd.concat([legit_sample,spam],axis=0)
merged_df

        v1                                                 v2
4400   ham      Many times we lose our best ones bcoz we are
4342   ham  Its a valentine game. . . send dis msg to all ...
5355   ham  Living is very simple.. Loving is also simple....
3311   ham  I know you are serving. I mean what are you do...
3676   ham        Great! So what attracts you to the brothas?
...    ...                                                ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[1494 rows x 2 columns]

In [10]:
X=merged_df['v2']
Y=merged_df['v1']

In [11]:
X
tfidf_vectorizer=TfidfVectorizer(max_features=5000)
X_tfidf=tfidf_vectorizer.fit_transform(X)

In [12]:
Y

4400     ham
4342     ham
5355     ham
3311     ham
3676     ham
        ...
5537    spam
5540    spam
5547    spam
5566    spam
5567    spam
Name: v1, Length: 1494, dtype: object

In [13]:
model=LogisticRegression()

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X_tfidf,Y,test_size=0.2,stratify=Y,random_state=2)

In [15]:
model.fit(X_train,Y_train)

LogisticRegression()

In [16]:
train_predicted=model.predict(X_train)
train_accuracy_score=accuracy_score(train_predicted,Y_train)
train_accuracy_score

0.9815899581589959

In [17]:
test_predicted=model.predict(X_test)
test_accuracy_score=accuracy_score(test_predicted,Y_test)
test_accuracy_score

0.9498327759197325

In [18]:
model.predict(X_train)==Y_train

4375    True
5042    True
2815    True
5121    True
3572    True
        ...
2373    True
332     True
3190    True
3726    True
3412    True
Name: v1, Length: 1195, dtype: bool

In [20]:
model.predict(X_test)==Y_test

3229     True
1104     True
4819    False
4466     True
2442     True
        ...
95       True
5057     True
475      True
5041     True
3999     True
Name: v1, Length: 299, dtype: bool